/* Calendar panel, that holds the appointment */
.outlook-cal {
	position: relative;
	height: 527px;
	white-space: nowrap;
	overflow: hidden;
	width: 100%;
	overflow: hidden;
	border: 1px solid #000;
	zoom: 1; 
}

.outlook-cal .major-time-interval {
	display: block;
	height: 24px;
	_height: 25px;
	background: #FFF4BC;
	border-top: 1px solid #EAD098;
	width: 100%;
}

.outlook-cal .minor-time-interval {
	display: block;
	height: 24px;
	_height: 25px;
	background: #FFF4BC;
	border-top: 1px solid #F3E4B1;
	width: 100%;
}

.outlook-cal .working-hours {
	background: #FFFFD5;
}

.outlook-cal .hour-label {
	width: 50px;
	color: #8F8F8F;
	font-family: arial;
	font-size: 12px;
	display: block;
	position:relative;
        border-top:1px solid #ACA899;
        background:#EAEAEA;
}

   
.outlook-cal .hour-label .hour-layout {
	position:absolute;top:50%;left:0px;margin-top:-0.5em;line-height:1; text-align:center;width:100%;
}

.outlook-cal .hour-text {
	display:inline; 
	font-family:Tahoma; font-size:20px;color:#000;text-transform:lowercase;font-weight:normal;
}

.outlook-cal .ampm-text {
	display:inline;
	font-family:Tahoma; font-size:11px;color:#000;text-transform:lowercase;font-weight:normal;vertical-align:super;
}



.outlook-cal .gwt-appointment-panel {
	position: absolute;
	width:100%;
	height: 1200px;
	zoom: 1; 
}

.outlook-cal .gwt-appointment-cell {
	width: 99%;
}

.outlook-cal .scroll-area {
	height: 500px;
	overflow: scroll;
	overflow-x: hidden;
	zoom: 1; 
	width:100%;
	position:absolute;
}

.outlook-cal .day-separator {
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0%;
	border-left: 1px solid #ACA899;
	width: 1px;
}

.outlook-cal .time-strip {
	/*padding-top: 43px;*/
	white-space: nowrap;
	width: 50px;
}

/* Calendar header */
.outlook-cal .gwt-calendar-header {
	background: #EAEAEA;
	width: 100%;
	border-bottom: 1px solid #BEBEBE;
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
}

/*.gwt-calendar-header table { width:100%;table-layout:fixed; border-collapse:collapse; }
*/
.outlook-cal .gwt-calendar-header .year-cell {
	width: 50px;
	font-family: arial;
	font-size: 12px;
	text-align: center;
	font-weight: normal;
	background:#EAEAEA;
}

.outlook-cal .gwt-calendar-header .day-cell-container {
	height: 20px;
	position: relative;
	overflow: hidden;
	background:#EAEAEA;
}

.outlook-cal .gwt-calendar-header .day-cell {
	border-left: 1px solid #C1C1C1;
	position: absolute;
	top: 0px;
	height: 100%;
	text-align: center;
	font-family: arial;
	font-size: 12px;
	padding-top: 2px;
	font-weight: normal;
	background:#EAEAEA;
}

.outlook-cal .gwt-calendar-header .day-cell-today {
	border-left: 1px solid #C1C1C1;
	position: absolute;
	background: #EAEAEA;
	top: 0px;
	height: 100%;
	text-align: center;
	font-family: arial;
	font-size: 12px;
	padding-top: 2px;
	font-weight: bold;
}

.outlook-cal .gwt-calendar-header .splitter {
	height: 3px;
	_height: 5px;
	border-top: 1px solid #BEBEBE;
	background: #E8E8E8;
	border-bottom: 3px solid #D9D9D9;
}








/* Appointment panels, that get rendered to the screen as Div's (Primary Style) */
.gwt-appointment {
	position: absolute;
	font-size: 11px;
	font-family: arial;
	border: 1px solid #000;
	overflow: hidden;
	filter: alpha(opacity = 40);
	opacity: .40;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	background:#FFF;
	zoom:1;
	writingMode:tb-rl;
	filter: alpha(opacity = 40);
	zoom: 1; 
}

.outlook-cal .gwt-appointment .header {
	white-space: nowrap;
	overflow: hidden;
	color: #000;
	padding: 1px;
	padding-left: 8px;
	-webkit-border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 0px;
}

.outlook-cal .gwt-appointment .body {
	padding-left: 8px;
	padding-top: 1px;
	white-space: wrap;
}

.outlook-cal .gwt-appointment .footer {
	border-bottom: 2px dotted #FFF;
	position: absolute;
	bottom: 2px;
	left: 4%;
	height: 4px;
	width: 92%;
}

.outlook-cal .gwt-appointment .icons {
	white-space: nowrap;
	position: absolute;
	top: 0px;
	right: 0px;
	background: transparent;
	width: 55px;
	height: 12px;
	color: #FFF;
}

.outlook-cal .gwt-appointment .timeline {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	background: #FFF;
	border-right: 1px solid #000;
	width: 5px;
	-webkit-border-top-left-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-bottomleft: 0px;
}

.outlook-cal .gwt-appointment .timeline-fill {
	background: blue url(gwt_cal_demo/line-pattern-template-inverse.gif);
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	-webkit-border-top-left-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-bottomleft: 0px;
}


.outlook-cal .gwt-appointment-selected {
	-webkit-box-shadow: 3px 3px 5px #666;
	border-top:3px solid blue;
	border-bottom:3px solid blue;
}


.outlook-cal .gwt-appointment-green {
	border: 1px solid #000;
	background: #FFF;
	color: #000;
}



.outlook-cal .gwt-appointment-selected.gwt-appointment-green .header {
	background: #FFF;
	color: #000;
	font-weight:normal;
}

.outlook-cal .gwt-appointment-selected.gwt-appointment-green .footer {
	border-bottom: 2px dotted #FFF;
}

.outlook-cal .gwt-appointment-green .timeline-fill {
	background-color: #blue;
}



.outlook-cal .gwt-appointment-blue {
	border: 1px solid #000;
	background: #FFF;
	color: #000;
}

.outlook-cal .gwt-appointment-selected.gwt-appointment-blue .header {
	background: #FFF;
	color: #000;
	
}

.outlook-cal .gwt-appointment-selected.gwt-appointment-blue .footer {
	border-bottom: 2px dotted #FFF;
}

.outlook-cal .gwt-appointment-blue .timeline-fill {
	background-color: blue;
}


.outlook-cal .gwt-appointment.gwt-appointment-green.gwt-appointment-selected {
		border-top:4px solid blue;
		border-bottom:4px solid blue;
		zoom:1;
		opacity:0.33;
		filter:alpha(opacity=33);
	}

/* An html element can have 1 or many styles, separated by spaces. */
	/* example: class="gwt-appointment gwt-appointment-green" has properties of both styles, the second takes precedence */