/* Calendar panel, that holds the appointment */
.gwt-cal {
	position: relative;
	height: 523px;
	white-space: nowrap;
	overflow: hidden;
	width: 100%;
	overflow: hidden;
	border: 1px solid #C3D9FF;
}

.gwt-cal .major-time-interval {
	display: block;
	height: 24px;
	_height: 25px;
	background: #FFFFCC;
	border-top: 1px solid #DDDDDD;
	width: 100%;
}

.gwt-cal .minor-time-interval {
	display: block;
	height: 24px;
	_height: 25px;
	background: #FFFFCC;
	border-top: 1px dotted #DDDDDD;
	width: 100%;
}

.gwt-cal .working-hours {
	background: #FFF;
}

.gwt-cal .hour-label {
	width: 50px;
	color: #446688;
	font-family: arial;
	font-size: 12px;
	display: block;
	position:relative;
        border-top:1px solid #DDDDDD;
        background:#E8EEF7;
}

   
.gwt-cal .hour-label .hour-layout {
	position:absolute;top:5%;right:5px;line-height:1; text-align:right;width:100%;
}

.gwt-cal .hour-text {
	display:inline; 
	font-family:arial; font-size:11px;text-transform:lowercase;font-size:11px;color:#446688;
}

.gwt-cal .ampm-text {
	display:inline;color:#446688;
	font-family:arial; font-size:11px;text-transform:lowercase;font-weight:normal;
}



.gwt-cal .gwt-appointment-panel {
	position: relative;
	height: 1200px;
}

.gwt-cal .gwt-appointment-cell {
	width: 99%;
}

.gwt-cal .scroll-area {
	height: 500px;
	overflow: scroll;
	overflow-x: hidden;
}

.gwt-cal .day-separator {
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0%;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	width: 3px;
}

.gwt-cal .time-strip {
	/*padding-top: 43px;*/
	white-space: nowrap;
	width: 50px;
}

/* Calendar header */
.gwt-cal .gwt-calendar-header {
	background: #C3D9FF;
	width: 100%;
	border-bottom: 1px solid #A2BBDD;
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
	color:#112ABB;
}

/*.gwt-calendar-header table { width:100%;table-layout:fixed; border-collapse:collapse; }
*/
.gwt-cal .gwt-calendar-header .year-cell {
	width: 50px;
	font-family: arial;
	font-size: 12px;
	text-align: center;
	font-weight: normal;
	background:#C3D9FF;
}

.gwt-cal .gwt-calendar-header .day-cell-container {
	height: 20px;
	position: relative;
	overflow: hidden;
	background:#C3D9FF ;
}

.gwt-cal .gwt-calendar-header .day-cell {
	border-left: 1px solid #C3D9FF;
	position: absolute;
	top: 0px;
	height: 100%;
	text-align: center;
	font-family: arial;
	font-size: 12px;
	padding-top: 2px;
	font-weight: normal;
	background:#C3D9FF;
}

.gwt-cal .gwt-calendar-header .day-cell-today {
	border-left: 1px solid #C3D9FF;
	position: absolute;
	background: #88AACC;
	top: 0px;
	height: 100%;
	text-align: center;
	font-family: arial;
	font-size: 12px;
	padding-top: 2px;
	font-weight: bold;
	color:#FFFFFF;
}

.gwt-cal .gwt-calendar-header .splitter {
	height: 1px;
	_height: 1px;
	border-top: 0px solid #C3D9FF;
	background: #C3D9FF;
	border-bottom: 0px solid #C3D9FF;
}








/* Appointment panels, that get rendered to the screen as Div's (Primary Style) */
.gwt-cal .gwt-appointment {
	position: absolute;
	font-size: 11px;
	font-family: arial;
	/*border: 1px solid #000;*/
	overflow: hidden;
	filter: alpha(opacity = 50);
	opacity: .5;
    -moz-opacity: .5;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
}

.gwt-cal .gwt-appointment .header {
	white-space: nowrap;
	overflow: hidden;
	color: #FFF;
	padding: 1px;
	padding-left: 8px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
}

.gwt-cal .gwt-appointment .body {
	padding-left: 8px;
	padding-top: 1px;
	white-space: wrap;
}

.gwt-cal .gwt-appointment .footer {
	border-bottom: 3px double #FFF;
	position: absolute;
	bottom: 2px;
	left: 48%;
	height: 4px;
	width: 8px;
}

.gwt-cal .gwt-appointment .icons {
	white-space: nowrap;
	position: absolute;
	top: 0px;
	right: 0px;
	background: transparent;
	width: 55px;
	height: 12px;
	color: #FFF;
}

.gwt-cal .gwt-appointment .timeline {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	background: #FFF;
	border-right: 1px solid #000;
	width: 5px;
	display:none;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;

}

.gwt-cal .gwt-appointment .timeline-fill {
	/*background: blue url(gwt_cal_demo/line-pattern-template-inverse.gif);*/
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;

}

/* Appointment panel style when selected (Secondary Style) */
.gwt-cal .gwt-appointment-selected {
	-webkit-box-shadow: 3px 3px 5px #B7B7B7;
        -moz-box-shadow: 3px 3px 5px #B7B7B7;
	filter: alpha(opacity=100)  
		progid:DXImageTransform.Microsoft.dropshadow(OffX=3, OffY=3,Color='#C7C7C7', Positive='true');
	opacity: 1;
    -moz-opacity:1;
}


/* Multi-day appointment section */
.gwt-cal .multiDayBody {
    width:100%;
    background:#E8EEF7;
    table-layout: fixed;
}

.gwt-cal .multiDayBody .splitter {
	height: 5px;
	_height: 5px;
	border-top: 0px solid #C3D9FF;
	background: #C3D9FF;
	border-bottom: 0px solid #C3D9FF;
}

.gwt-cal .leftEmptyCell {
    background: #C3D9FF;
    width:50px;
}
.gwt-cal .rightEmptyCell {
    background: #C3D9FF;
}




/* Blue */
.gwt-cal .gwt-appointment-blue {
	border: 1px solid rgb(41, 82, 163);
	background: #668CD9;
	color: #FFF;
}
.gwt-cal .gwt-appointment-blue .header {
	background: #2952A3;
	color: #FFF;
}
.gwt-cal .gwt-appointment-selected.gwt-appointment-blue .header {
	background: #2952A3;
	color: #FFF;
}

.gwt-cal .gwt-appointment-selected.gwt-appointment-blue .footer {
	border-bottom: 3px double white;
}

.gwt-cal .gwt-appointment-blue .timeline-fill {
	background-color: #668CD9;
}


/* RED */
.gwt-cal .gwt-appointment-red {
	border: 1px solid #A32929;
	background: #D96666;
	color: #FFF;
}

.gwt-cal .gwt-appointment-red .header {
	background: #A32929;
	color: #FFF;
}

.gwt-cal .gwt-appointment-selected.gwt-appointment-red .header {
	background: #A32929;
	color: #FFF;
}

.gwt-cal .gwt-appointment-selected.gwt-appointment-red .footer {
	border-bottom: 3px double white;
}

.gwt-cal .gwt-appointment-red .timeline-fill {
	background-color: #D96666;
}


/* Pink */
.gwt-cal .gwt-appointment-pink {
	border: 1px solid #B1365F;
	background: #E67399;
	color: #FFF;
}
.gwt-cal .gwt-appointment-pink .header {
	background: #B1365F;
	color: #FFF;
}
.gwt-cal .gwt-appointment-selected.gwt-appointment-pink .header {
	background: #B1365F;
	color: #FFF;
}

.gwt-cal .gwt-appointment-selected.gwt-appointment-pink .footer {
	border-bottom: 3px double white;
}

.gwt-cal .gwt-appointment-pink .timeline-fill {
	background-color: #E67399;
}


/* Purple */
.gwt-cal .gwt-appointment-purple {
	border: 1px solid #7A367A;
	background: #B373B3;
	color: #FFF;
}
.gwt-cal .gwt-appointment-purple .header {
	background: #7A367A;
	color: #FFF;
}
.gwt-cal .gwt-appointment-selected.gwt-appointment-purple .header {
	background: #7A367A;
	color: #FFF;
}

.gwt-cal .gwt-appointment-selected.gwt-appointment-purple .footer {
	border-bottom: 3px double white;
}

.gwt-cal .gwt-appointment-purple .timeline-fill {
	background-color: #B373B3;
}


/* Dark Purple */
.gwt-cal .gwt-appointment-darkpurple {
	border: 1px solid #5229A3;
	background: #8C66D9;
	color: #FFF;
}
.gwt-cal .gwt-appointment-darkpurple .header {
	background: #5229A3;
	color: #FFF;
}
.gwt-cal .gwt-appointment-selected.gwt-appointment-darkpurple .header {
	background: #5229A3;
	color: #FFF;
}

.gwt-cal .gwt-appointment-selected.gwt-appointment-darkpurple .footer {
	border-bottom: 3px double white;
}

.gwt-cal .gwt-appointment-darkpurple .timeline-fill {
	background-color: #8C66D9;
}


/* Steel Blue */
.gwt-cal .gwt-appointment-steelblue {
	border: 1px solid #29527A;
	background: #668CB3;
	color: #FFF;
}
.gwt-cal .gwt-appointment-steelblue .header {
	background: #29527A;
	color: #FFF;
}
.gwt-cal .gwt-appointment-selected.gwt-appointment-steelblue .header {
	background: #29527A;
	color: #FFF;
}

.gwt-cal .gwt-appointment-selected.gwt-appointment-steelblue .footer {
	border-bottom: 3px double white;
}

.gwt-cal .gwt-appointment-steelblue .timeline-fill {
	background-color: #668CB3;
}


/* Light Blue */
.gwt-cal .gwt-appointment-lightblue {
	border: 1px solid #1B887A;
	background: #59BFB3;
	color: #FFF;
}
.gwt-cal .gwt-appointment-lightblue .header {
	background: #1B887A;
	color: #FFF;
}
.gwt-cal .gwt-appointment-selected.gwt-appointment-lightblue .header {
	background: #1B887A;
	color: #FFF;
}

.gwt-cal .gwt-appointment-selected.gwt-appointment-lightblue .footer {
	border-bottom: 3px double white;
}

.gwt-cal .gwt-appointment-lightblue .timeline-fill {
	background-color: #59BFB3;
}


/* Teal */
.gwt-cal .gwt-appointment-teal {
	border: 1px solid #28754E;
	background: #65AD89;
	color: #FFF;
}
.gwt-cal .gwt-appointment-teal .header {
	background: #28754E;
	color: #FFF;
}
.gwt-cal .gwt-appointment-selected.gwt-appointment-teal .header {
	background: #28754E;
	color: #FFF;
}

.gwt-cal .gwt-appointment-selected.gwt-appointment-teal .footer {
	border-bottom: 3px double white;
}

.gwt-cal .gwt-appointment-teal .timeline-fill {
	background-color: #65AD89;
}

/* Green */
.gwt-cal .gwt-appointment-green {
	border: 1px solid #0D7813;
	background: #4CB052;
	color: #FFF;
}
.gwt-cal .gwt-appointment-green .header {
	background: #0D7813;
	color: #FFF;
}
.gwt-cal .gwt-appointment-selected.gwt-appointment-green .footer {
	border-bottom: 3px double white;
}

/* Light Green */
.gwt-cal .gwt-appointment-lightgreen {
	border: 1px solid #528800;
	background: #8CBF40;
	color: #FFF;
}
.gwt-cal .gwt-appointment-lightgreen .header {
	background: #528800;
	color: #FFF;
}
.gwt-cal .gwt-appointment-selected.gwt-appointment-lightgreen .header {
	background: #528800;
	color: #FFF;
}

.gwt-cal .gwt-appointment-selected.gwt-appointment-lightgreen .footer {
	border-bottom: 3px double white;
}

.gwt-cal .gwt-appointment-lightgreen .timeline-fill {
	background-color: #8CBF40;
}


/* Yellow Green */
.gwt-cal .gwt-appointment-yellowgreen {
	border: 1px solid #88880E;
	background: #BFBF4D;
	color: #FFF;
}
.gwt-cal .gwt-appointment-yellowgreen .header {
	background: #88880E;
	color: #FFF;
}
.gwt-cal .gwt-appointment-selected.gwt-appointment-yellowgreen .header {
	background: #88880E;
	color: #FFF;
}
.gwt-cal .gwt-appointment-selected.gwt-appointment-yellowgreen .footer {
	border-bottom: 3px double white;
}

.gwt-cal .gwt-appointment-yellowgreen .timeline-fill {
	background-color: #BFBF4D;
}


/* Yellow */
.gwt-cal .gwt-appointment-yellow {
	border: 1px solid #AB8B00;
	background: #E0C240;
	color: #FFF;
}
.gwt-cal .gwt-appointment-yellow .header {
	background: #AB8B00;
	color: #FFF;
}
.gwt-cal .gwt-appointment-selected.gwt-appointment-yellow .header {
	background: #AB8B00;
	color: #FFF;
}

.gwt-cal .gwt-appointment-selected.gwt-appointment-yellow .footer {
	border-bottom: 3px double white;
}

.gwt-cal .gwt-appointment-yellow .timeline-fill {
	background-color: #E0C240;
}


/* Orange */
.gwt-cal .gwt-appointment-orange {
	border: 1px solid #BE6D00;
	background: #F2A640;
	color: #FFF;
}
.gwt-cal .gwt-appointment-orange .header {
	background: #BE6D00;
	color: #FFF;
}
.gwt-cal .gwt-appointment-selected.gwt-appointment-orange .header {
	background: #BE6D00;
	color: #FFF;
}

.gwt-cal .gwt-appointment-selected.gwt-appointment-orange .footer {
	border-bottom: 3px double white;
}

.gwt-cal .gwt-appointment-orange .timeline-fill {
	background-color: #F2A640;
}


/* Red Orange */
.gwt-cal .gwt-appointment-redorange {
	border: 1px solid #B1440E;
	background: #E6804D;
	color: #FFF;
}
.gwt-cal .gwt-appointment-redorange .header {
	background: #B1440E;
	color: #FFF;
}
.gwt-cal .gwt-appointment-selected.gwt-appointment-redorange .header {
	background: #B1440E;
	color: #FFF;
}

.gwt-cal .gwt-appointment-selected.gwt-appointment-redorange .footer {
	border-bottom: 3px double white;
}

.gwt-cal .gwt-appointment-redorange .timeline-fill {
	background-color: #E6804D;
}


/* Light Brow */
.gwt-cal .gwt-appointment-lightbrown {
	border: 1px solid #865A5A;
	background: #BE9494;
	color: #FFF;
}
.gwt-cal .gwt-appointment-lightbrown .header {
	background: #865A5A;
	color: #FFF;
}
.gwt-cal .gwt-appointment-selected.gwt-appointment-lightbrown .header {
	background: #865A5A;
	color: #FFF;
}

.gwt-cal .gwt-appointment-selected.gwt-appointment-lightbrown .footer {
	border-bottom: 3px double white;
}

.gwt-cal .gwt-appointment-lightbrown .timeline-fill {
	background-color: #BE9494;
}


/* Light Purple*/
.gwt-cal .gwt-appointment-lightpurple {
	border: 1px solid #705770;
	background: #A992A9;
	color: #FFF;
}
.gwt-cal .gwt-appointment-lightpurple .header {
	background: #705770;
	color: #FFF;
}
.gwt-cal .gwt-appointment-selected.gwt-appointment-lightpurple .header {
	background: #705770;
	color: #FFF;
}

.gwt-cal .gwt-appointment-selected.gwt-appointment-lightpurple .footer {
	border-bottom: 3px double white;
}

.gwt-cal .gwt-appointment-lightpurple .timeline-fill {
	background-color: #A992A9;
}


/* Grey */
.gwt-cal .gwt-appointment-grey {
	border: 1px solid #4E5D6C;
	background: #8997A5;
	color: #FFF;
}
.gwt-cal .gwt-appointment-grey .header {
	background: #4E5D6C;
	color: #FFF;
}
.gwt-cal .gwt-appointment-selected.gwt-appointment-grey .header {
	background: #4E5D6C;
	color: #FFF;
}

.gwt-cal .gwt-appointment-selected.gwt-appointment-grey .footer {
	border-bottom: 3px double white;
}

.gwt-cal .gwt-appointment-grey .timeline-fill {
	background-color: #8997A5;
}


/* Blue Grey*/
.gwt-cal .gwt-appointment-bluegrey {
	border: 1px solid #5A6986;
	background: #94A2bE;
	color: #FFF;
}
.gwt-cal .gwt-appointment-bluegrey .header {
	background: #5A6986;
	color: #FFF;
}
.gwt-cal .gwt-appointment-selected.gwt-appointment-bluegrey .header {
	background: #5A6986;
	color: #FFF;
}

.gwt-cal .gwt-appointment-selected.gwt-appointment-bluegrey .footer {
	border-bottom: 3px double white;
}

.gwt-cal .gwt-appointment-bluegrey .timeline-fill {
	background-color: #94A2bE;
}


/* Light Teal */
.gwt-cal .gwt-appointment-lightteal {
	border: 1px solid #4A716C;
	background: #85AAA5;
	color: #FFF;
}
.gwt-cal .gwt-appointment-lightteal .header {
	background: #4A716C;
	color: #FFF;
}
.gwt-cal .gwt-appointment-selected.gwt-appointment-lightteal .header {
	background: #4A716C;
	color: #FFF;
}

.gwt-cal .gwt-appointment-selected.gwt-appointment-lightteal .footer {
	border-bottom: 3px double white;
}

.gwt-cal .gwt-appointment-lightteal .timeline-fill {
	background-color: #85AAA5;
}


/* Yellow Grey */
.gwt-cal .gwt-appointment-yellowgrey {
	border: 1px solid #6E6E41;
	background: #A7A77D;
	color: #FFF;
}
.gwt-cal .gwt-appointment-yellowgrey .header {
	background: #6E6E41;
	color: #FFF;
}
.gwt-cal .gwt-appointment-selected.gwt-appointment-yellowgrey .header {
	background: #6E6E41;
	color: #FFF;
}

.gwt-cal .gwt-appointment-selected.gwt-appointment-yellowgrey .footer {
	border-bottom: 3px double white;
}

.gwt-cal .gwt-appointment-yellowgrey .timeline-fill {
	background-color: #A7A77D;
}


/* Brown */
.gwt-cal .gwt-appointment-brown {
	border: 1px solid #8D6F47;
	background: #C4A883;
	color: #FFF;
}
.gwt-cal .gwt-appointment-brown .header {
	background: #8D6F47;
	color: #FFF;
}
.gwt-cal .gwt-appointment-selected.gwt-appointment-brown .header {
	background: #8D6F47;
	color: #FFF;
}

.gwt-cal .gwt-appointment-selected.gwt-appointment-brown .footer {
	border-bottom: 3px double white;
}

.gwt-cal .gwt-appointment-brown .timeline-fill {
	background-color: #C4A883;
}




/* multi-day appointments have no footer */
.gwt-cal .multiDayBody .gwt-appointment .footer,
.gwt-cal .multiDayBody .gwt-appointment-selected .footer {
	display:none;
}
/* and header fills the entire appointment body */
.gwt-cal .multiDayBody .gwt-appointment .header,
.gwt-cal .multiDayBody .gwt-appointment-selected .header {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	height:100%;
}


